<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated frtypes -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ccsds.fr.type.model.frtypes.presentation.FrtypesModelWizardID"
            name="%_UI_FrtypesModelWizard_label"
            class="ccsds.fr.type.model.frtypes.presentation.FrtypesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FrtypesModelFile.gif">
         <description>%_UI_FrtypesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated frtypes -->
      <editor
            id="ccsds.fr.type.model.frtypes.presentation.FrtypesEditorID"
            name="%_UI_FrtypesEditor_label"
            icon="icons/full/obj16/FrtypesModelFile.gif"
            extensions="frtypes"
            class="ccsds.fr.type.model.frtypes.presentation.FrtypesEditor"
            contributorClass="ccsds.fr.type.model.frtypes.presentation.FrtypesActionBarContributor">
      </editor>
   </extension>

</plugin>
