*.class
*.zip
*.old
RemoteSystemsTempFiles/*
org.eclipse.*
sw-delivery
.metadata
*.class
*.zip
*.lost
*.uml
RemoteSystemsTempFiles/*
org.eclipse.*
sw-delivery
.metadata
**/.DS_Store
.DS_Store
ASN1EditorPluginE3
ASN1EditorPluginE3.feature
ccsds.css.oid.model
ccsds.css.oid.presentation
ccsds.css.oid.tool
