<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated frtypes -->
      <package
            uri="http://ccsds.fr/types"
            class="ccsds.fr.type.model.frtypes.FrtypesPackage"
            genModel="model/frtypes.genmodel"/>
   </extension>

</plugin>
