<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="Functional_Resource_Tools_Diagram.design.Activator"
               id="Functional_Resource_Tools_Diagram.design"
	       name="frm">
    </component>
  </extension>
</plugin>
