<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated functional_resource -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ccsds.FunctionalResourceModel.presentation.FunctionalResourceModelModelWizardID"
            name="%_UI_FunctionalResourceModelModelWizard_label"
            class="ccsds.FunctionalResourceModel.presentation.FunctionalResourceModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FunctionalResourceModelModelFile.gif">
         <description>%_UI_FunctionalResourceModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated functional_resource -->
      <editor
            id="ccsds.FunctionalResourceModel.presentation.FunctionalResourceModelEditorID"
            name="%_UI_FunctionalResourceModelEditor_label"
            icon="icons/full/obj16/FunctionalResourceModelModelFile.gif"
            extensions="frm"
            class="ccsds.FunctionalResourceModel.presentation.FunctionalResourceModelEditor"
            contributorClass="ccsds.FunctionalResourceModel.presentation.FunctionalResourceModelActionBarContributor">
      </editor>
   </extension>

</plugin>
