<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated functional_resource -->
      <package
            uri="http://iso.org.dod.ccsds"
            class="ccsds.FunctionalResourceModel.FunctionalResourceModelPackage"
            genModel="model/functional_resource.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated functional_resource -->
      <parser
            type="frm"
            class="ccsds.FunctionalResourceModel.util.FunctionalResourceModelResourceFactoryImpl"/>
   </extension>

</plugin>
