<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="fr.transform"
               icon="icons/transform.gif"
               label="Transform Functional Resource"
               mnemonic="M1+T"
               style="push"
               tooltip="Transforms the Functional Resource Model to an ecore  model">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar ">
         <toolbar
               id="fr.tools.toolbar">
            <command
                  commandId="fr.create.oid"
                  icon="icons/Oid.gif"
                  label="Create Prameter / Directive / Event OIDs"
                  style="push"
                  tooltip="Create / Update OIDs">
            </command>
            <command
                  commandId="fr.create.auth.entity"
                  icon="icons/auth_entity.gif"
                  label="Create Authorizing Entity"
                  style="push"
                  tooltip="Sets the Authorizing Entity if it is empty">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="fr.create.auth.entity"
         point="org.eclipse.ui.handlers">
      <handler
            class="ccsds.handlers.TransformFrHandler"
            commandId="fr.transform">
      </handler>
      <handler
            class="ccsds.handlers.CreateParameterOidsHandler"
            commandId="fr.create.oid">
      </handler>
      <handler
            class="ccsds.handlers.CreateAuthEntities"
            commandId="fr.create.auth.entity">
      </handler>
   </extension>

</plugin>
