<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated functional_resource -->
      <factory
            uri="http://iso.org.dod.ccsds"
            class="ccsds.FunctionalResourceModel.provider.FunctionalResourceModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://iso.org.dod.ccsds"
            class="ccsds.FunctionalResourceModel.providers.FunctionalResourceModelEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="ccsds.FunctionalResourceModel.providers.FunctionalResourceModelPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

  <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="ccsds.FunctionalResourceModel.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="ccsds.FunctionalResourceModel.properties">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

         <propertyTab
               afterTab="Base"
               category="default"
               id="TypeDefinitionView"
               label="TypeDefinitionView">
         </propertyTab>
      </propertyTabs>
   </extension>


   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="ccsds.FunctionalResourceModel.properties">
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.FunctionalResourceModelPropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.FunctionalResourceModelPropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.FunctionalResourceModel"
               tab="Base">
         </propertySection>
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.FrModelElementPropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.FrModelElementPropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.FrModelElement"
               tab="Base">
         </propertySection>
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.OidPropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.OidPropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.Oid"
               tab="Base">
         </propertySection>
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.FunctionalResourcePropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.FunctionalResourcePropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.FunctionalResource"
               tab="Base">
         </propertySection>
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.EventPropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.EventPropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.Event"
               tab="Base">
         </propertySection>
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.DirectivePropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.DirectivePropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.Directive"
               tab="Base">
         </propertySection>         
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.ParameterPropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.ParameterPropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.Parameter"
               tab="Base">
         </propertySection>
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.ValuePropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.ValuePropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.Value"
               tab="Base">
         </propertySection>
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.QualifierPropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.QualifierPropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.Qualifier"
               tab="Base">
         </propertySection>
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.TypedElementPropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.TypedElementPropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.TypedElement"
               tab="Base">
          </propertySection>              
      </propertySections>

   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.FunctionalResourceModelPropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.FunctionalResourceModelPropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.FunctionalResourceModel"
               tab="Base">
         </propertySection>
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.FrModelElementPropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.FrModelElementPropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.FrModelElement"
               tab="Base">
         </propertySection>
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.OidPropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.OidPropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.Oid"
               tab="Base">
         </propertySection>
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.FunctionalResourcePropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.FunctionalResourcePropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.FunctionalResource"
               tab="Base">
         </propertySection>
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.EventPropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.EventPropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.Event"
               tab="Base">
         </propertySection>
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.DirectivePropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.DirectivePropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.Directive"
               tab="Base">
         </propertySection>
         <propertySection
               class="ccsds.FunctionalResourceModel.parts.forms.ParameterPropertiesEditionPartForm"
               filter="ccsds.FunctionalResourceModel.providers.ParameterPropertiesEditionProvider$EditionFilter"
               id="ccsds.FunctionalResourceModel.section.Parameter"
               tab="Base">
         </propertySection>
      </propertySections>

   </extension>


</plugin>
